.button{
    width: 5rem;
    height: 2rem;
    background-color: rgb(46, 45, 45);
    color: white; 
    padding-inline: 10px 30px;  
    margin-top: 20px; 
}

.main{
    margin:  10px auto;
    width: 50%;
}

.items{
    padding: 3.5rem ;
    display: grid;
    gap: 1rem;
    background-color:rgb(241 245 249 );
    border-radius: 20px;

    
}

.item{
    padding: 2.5rem;
    background-color:  rgb(226 232 240 );
    border-radius: 10px;
    
}
