.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background: linear-gradient(135deg, #727d89, #88ff99);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding-top: 10px;
    transition: box-shadow 0.3s ease;
}


.nav:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.menu {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.125rem;
    line-height: 1.5;
}

.menu div {
    padding: 0.2rem 1rem;
    transition: all 0.3s ease;
}

.menu div:hover {
    padding: 0.3rem 1.2rem;
    background: linear-gradient(135deg, #8996a5, #20b26e);
    border-radius: 15px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
    color: #144316;
    transition: padding 0.3s ease, background 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease, color 0.3s ease;
}


.logo {
    width: 70px;
    height: auto;
}

.button {
    border: 1px solid black;
    background-color: #058f05;
    color: rgb(240, 239, 236);
    width: 7rem;
    height: 3rem;
    font-size: large;
    border-radius: 1rem;
    border: none;
}

.button:hover {
    background-color: #04b004;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: all 0.3s ease;
}

body {
    padding-top: 74px;
}

